body {
    margin: 0;
    font-family:  Circular, spotify-circular, Helvetica, Arial, sans-serif;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    height: 80px;
    position: sticky;
    top: 0px;
}

.menu {
    flex-grow: 10;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0px 10px;
}

.cabecalho a {
    text-decoration: none;
    color: rgb(10, 205, 80);
    font-size: 1.1em;
    padding: 10px 15px;
    font-weight: bold;
    
}

.menu a:hover,
.menu a.selected {
    background-color: rgb(10, 205, 80);
    color: #fff;
}

.cabecalho .botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 10px;
}

.destaque {
    background: rgb(10, 205, 80);
    color: white;
}

#cadastrar {
    color: white;
}



.conteudo {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 600px;
}

.mensagem-apoio {
    width: 100%;
    height: 120px;
    background-color: rgb(10, 205, 80);
    padding: 0px;
}

.mensagem-apoio-conteudo {
    margin-left: 200px;
    color: white;
}

.mensagem-apoio-conteudo a {
    color: white;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.conteudo-principal h1 {
    font-size: 4em;
    color: rgb(10, 205, 80); 
    margin-top: 0px;
}
.conteudo-principal a {
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;

}

.rodape {
    display: flex;
    background-color: teal;
    width: 100%;
    height: 400px;
    padding: 50px;
}

.rodape .rodape-conteudo {
    display: flex;
    margin-left: 200px;
}

.rodape .empresa {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
   
   

}

.rodape .comunidades {
    display: flex;
    flex-direction: column;
}