body {
    margin: 0;
    font-family:  Circular, spotify-circular, Helvetica, Arial, sans-serif;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    height: 80px;
}

.menu {
    flex-grow: 10;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0px 10px;
}

.cabecalho a {
    text-decoration: none;
    color: rgb(10, 205, 80);
    font-size: 1.1em;
    padding: 10px 15px;
    font-weight: bold;
    
}

.menu a:hover,
.menu a.selected {
    background-color: rgb(10, 205, 80);
    color: #fff;
}

.cabecalho .botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 10px;
}

.destaque {
    background: rgb(10, 205, 80);
    color: white;
}

#cadastrar {
    color: white;
}

.conteudo {
    display: flex;
    background-color: rgb(233, 233, 233);
    align-items: center;
    width: 100%;
    height: 600px;
}

.rodape {
    display: flex;
    background-color: teal;
    width: 100%;
    height: 400px;
}